/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 may 2023, 19:48:13
    Author     : Isra
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu-buttons {
    width: 200px;
    margin-bottom: 10px;
}

.button-container {
    text-align: left;
}

.custom-button {
    /* Estilos adicionales para los botones */
}

.top-form {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.bot-form {
  position: absolute;
  bottom: 10px;
  left: 40%;
  transform: translateX(-50%);
}

.full-screen-form {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f1f1f1;
}